
# --- Required API Keys ---
PINECONE_API_KEY=

# --- Pinecone Configuration ---
PINECONE_INDEX_NAMES=

# --- Document Source ---
# Path to the directory containing your PDF files for the knowledge base
DOCUMENT_DIRECTORY=

# --- API Key for Authentication ---
VALID_API_KEY=
GROQ_API_KEY=
WEATHER_API_KEY=
MONGO_DB_URL=

WHATSAPP_TOKEN =
PHONE_NUMBER_ID =
VERIFY_TOKEN =

PORT=
PREDICT_API_URL=http://